<p class="titleED"> Habilidades </p>


<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="4">

    <mat-list role="list">
      <mat-list-item style="text-align: center">
        <h2 style="color: white">Habilidades profesionales</h2>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%" >
        <mat-card>
          <mat-card-content>
            <h2>Trabajo en equipo</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>Organización</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>Proactivo</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>

  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="7">

    <mat-list role="list">
      <mat-list-item style="text-align: center">
        <h2 style="color: white">Software</h2>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%" >
        <mat-card>
          <mat-card-content>
            <h2>Paqueteria Office</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>blnder</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>Unity</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>Adobe Illustrator</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
      <mat-card>
        <mat-card-content>
          <h2>Wordpress</h2>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
      </mat-card>
      </mat-list-item>

    </mat-list>

  </mat-grid-tile>
  <mat-grid-tile
    [colspan]="2"
    [rowspan]="3">

    <mat-list role="list">
      <mat-list-item style="text-align: center">
        <h2 style="color: white">Lenguajes de programación</h2>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%" >
        <mat-card>
          <mat-card-content>
            <h2>C++</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>HTML + CSS</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

    </mat-list>

  </mat-grid-tile>


</mat-grid-list>




