<p class="titleED"> Habilidades </p>


<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile style="background-color: skyblue"
    [colspan]="2"
    [rowspan]="5">

    <mat-list role="list">
      <mat-list-item style="text-align: center">
        <h2 style="color: white">adadad</h2>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%" >
        <mat-card>
          <mat-card-content>
            <h2>skill</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>skill</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>skill</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

      <mat-list-item role="listitem" style="height: 100%">
        <mat-card>
          <mat-card-content>
            <h2>skill</h2>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
          </mat-card-content>
        </mat-card>
      </mat-list-item>

    </mat-list>


  </mat-grid-tile>
  <mat-grid-tile style="background-color: skyblue"
    [colspan]="2"
    [rowspan]="10">
    <p>3</p>
  </mat-grid-tile>
  <mat-grid-tile style="background-color: skyblue"
    [colspan]="2"
    [rowspan]="5">
    <p>2</p>
  </mat-grid-tile>


</mat-grid-list>




