.titleED{
  text-align: center;
  color: white;
  font-size: 50px;
}


mat-grid-tile {
  background-color: rgba(26, 26, 26, 1);
  color: black;
  align-content: start;
}

mat-card{
  background-color: rgba(26, 26, 26, 1);
  color: white;
}

mat-list{
  color: white;
  width: 100%;
}

.mat-list-item{
  color: white;
  padding-bottom: 10px;
}
