<mat-toolbar color="primary">
    <span>Mi curriculum</span>

  <span class="spacer"></span>


    <button mat-button> inicio </button>
    <button mat-button> educacion </button>
    <button mat-button> experiencia </button>
    <button mat-button> habilidades </button>

</mat-toolbar>

<div class="fondoHome">
  <div  class="textHome">
    <h3>hola, yo soy</h3>
    <h1>Diego Casiano Valencia</h1>
  </div>
</div>



<mat-grid-list cols="2" rowHeight="1.5:1" >
  <mat-grid-tile>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h3>sobre mi</h3>
        </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-header>
      <span class="espacio"></span>
      <img class="borderImg" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>

      </mat-card-content>
    </mat-card>

  </mat-grid-tile>

  <mat-grid-tile>
    <div  class="textSobreMi">
      <p>va mi sobre mi</p>

      <span class="espacio"></span>

      <p>dasdasdadad</p>

      <span class="espacio"></span>

      <p>asadada</p>

    </div>
  </mat-grid-tile>
</mat-grid-list>






