.spacer {
  flex: 1 1 auto;
}


.fondoHome{
  background-image: url("https://img.freepik.com/vector-gratis/sala-galeria-columnas-inclinadas-paredes-negras_107791-16927.jpg?w=1380&t=st=1675970527~exp=1675971127~hmac=a9e104a0ceaad7077ccd5556f0b974988587b43c20689b21130f1299f9f45a6d");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.textHome{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}

.textSobreMi{
  text-align: center;
}

mat-grid-list{
  background: rgba(26, 26, 26, 1);

}

.borderImg{
  border: 5px solid aqua;

}

mat-grid-tile {
  color: white;

}

.example-card {
  max-width: 400px;
  background: transparent;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
