<mat-toolbar color="primary">
    <span>Mi curriculum</span>

  <span class="spacer"></span>


    <button mat-button> inicio </button>
    <button mat-button> educacion </button>
    <button mat-button> experiencia </button>
    <button mat-button> habilidades </button>

</mat-toolbar>

<div class="name">
  <div>
    <p>a</p>
  </div>
</div>

<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <p>hola, yo soy</p>
    <p>Diego casiano Valencia</p>
  </mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <p>
      1
    </p>
  </mat-grid-tile>
  <mat-grid-tile>
    2
  </mat-grid-tile>
</mat-grid-list>




