.SecTi{
  color: white;
  alignment: left;
}

mat-list-item{
  color: white;

}



.Iconos{
 width: 50px;
}


@import url('https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css');


