<p class="titleED"> educacion </p>

<mat-card class="home-card">
  <mat-card-content class="home-card-content">
    <img mat-card-image
         src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="Photo of a Shiba Inu">
    <div>
      <div>Second</div>
      <div>Third</div>
      <div>Fourth</div>
    </div>
  </mat-card-content>
</mat-card>

<div class="main-div">
<mat-card>
  <img class="borderImg" mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <mat-card-title> titulo </mat-card-title>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title> titulo </mat-card-title>
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
</div>
