.titleED{
  text-align: center;
  color: white;
  font-size: 50px;
}

.home-card {
  background: rgba(26, 26, 26, 1);
  border-radius: 4px;
  max-width: 2000px ;
  max-height: 1000px;
  margin-top: 100px;
  padding: 0;

  .home-card-content {
    width: 1500px;
    display: flex;
    color: white;
    /*justify-content: space-between;*/

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 auto;
      width: 20%;
      &:first-child {
        border-radius: 100%;
      }

      &:last-child {
        flex-direction: column;
        flex: 3 0 auto;
        align-items: start;
        padding: 8px;
      }
    }
  }
}









