
<p class="titleED"> Experiencia </p>

<mat-card class="home-card">
  <mat-card-content class="home-card-content">
    <img mat-card-image
         src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="Photo of a Shiba Inu">
    <div >
      <h2>Universidad Tecnologica de la Riviera Maya</h2>
      <div>Tecnico superior universitario: tic’s entornos virtuales y negocios digitales</div>
      <div>2019 - 2021</div>
      <div>ingenieria: entornos virtuales y negocios digitales</div>
      <div>2021 - presente</div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="home-card">
  <mat-card-content class="home-card-content">
    <img mat-card-image
         src="https://material.angular.io/assets/img/examples/shiba2.jpg"
         alt="Photo of a Shiba Inu">
    <div >
      <h2>Colegio de Bachilleres Plantel Playa del Carmen</h2>
      <div>2015-2019</div>

    </div>
  </mat-card-content>
</mat-card>

